<template>
  <div>
    <div v-for="(item, index) in items" :key="index" class="mb-3">
      <div class="caption green--text text--accent-3">
        {{ `${item.name} | ${item.date.format("MM/DD/YY h:ss A")}` }}
        <v-chip v-if="index === items.length - 1" color="white--text green accent--3" small>created</v-chip>
      </div>
      <div class="caption mb-3">{{ item.message }}</div>
      <v-divider></v-divider>
    </div>
  </div>
</template>

<script>
export default {
  name: "Comments",
  props: ["items"]
};
</script>

<style scoped></style>
