<template>
  <v-simple-table dense class="transparent">
    <tbody>
      <tr>
        <td class="py-3">ID</td>
        <td>{{ data.id }}</td>
      </tr>
      <tr>
        <td class="py-3">Created At</td>
        <td>{{ data.date.format("MM/DD/YYYY | hh:ss A") }}</td>
      </tr>
      <tr>
        <td class="py-3">Created By</td>
        <td>{{ data.created_by }}</td>
      </tr>
      <tr>
        <td class="py-3">Assigned To</td>
        <td>
          <v-btn color="teal accent-3 mr-2" small width="30px" min-width="30px">
            <v-icon color="white" dense>edit</v-icon>
          </v-btn>
          {{ data.assigned_to }}
        </td>
      </tr>
      <tr>
        <td class="py-3">Status</td>
        <td>
          <v-row>
            <v-col cols="4" v-for="(status, index) in statuses" :key="index">
              <v-chip
                :outlined="status.value !== data.status"
                class="chip d-flex justify-center"
                :color="status.color"
                >{{ status.title }}</v-chip
              >
            </v-col>
          </v-row>
        </td>
      </tr>
      <tr>
        <td class="py-3">Priority</td>
        <td>
          <v-row>
            <v-col
              cols="4"
              v-for="(priority, index) in priorities"
              :key="index"
            >
              <v-chip
                :outlined="priority.value !== data.priority"
                class="chip d-flex justify-center"
                :color="priority.color"
                >{{ priority.title }}</v-chip
              >
            </v-col>
          </v-row>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="py-5">
          <div class="title grey--text text--darken-2 mb-5">Subject</div>
          <div class="caption">{{ data.subject }}</div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="py-5">
          <div class="title grey--text text--darken-2 mb-5">Description</div>
          <div class="caption">{{ data.description }}</div>
        </td>
      </tr>
      <tr>
        <td colspan="2" class="py-5">
          <div class="title grey--text text--darken-2 mb-5">Attachments</div>
          <v-img
            v-for="(image, index) in data.attachments"
            :src="image.item"
            :key="index"
            width="84px"
            max-width="84px"
            aspect-ratio="1"
            class="d-inline-block mx-2"
            contain
          ></v-img>
        </td>
      </tr>
    </tbody>
  </v-simple-table>
</template>

<script>
import Priority from "../../utils/Priority";
import Status from "../../utils/Status";

export default {
  name: "InfoPanel",
  props: ["data"],
  created() {
    console.log(this.data);
  },
  computed: {
    priorities: () => [
      {
        value: Priority.LOW,
        color: Priority.makeColor(Priority.LOW),
        title: Priority.makeTitle(Priority.LOW)
      },
      {
        value: Priority.MEDIUM,
        color: Priority.makeColor(Priority.MEDIUM),
        title: Priority.makeTitle(Priority.MEDIUM)
      },
      {
        value: Priority.HIGH,
        color: Priority.makeColor(Priority.HIGH),
        title: Priority.makeTitle(Priority.HIGH)
      }
    ],
    statuses: () => [
      {
        value: Status.NEW,
        color: Status.makeColor(Status.NEW),
        title: Status.makeTitle(Status.NEW)
      },
      {
        value: Status.WORKING,
        color: Status.makeColor(Status.WORKING),
        title: Status.makeTitle(Status.WORKING)
      },
      {
        value: Status.CLOSED,
        color: Status.makeColor(Status.CLOSED),
        title: Status.makeTitle(Status.CLOSED)
      }
    ]
  },
  methods: {}
};
</script>

<style scoped>
.chip {
  cursor: pointer;
}
</style>
