<template>
  <div>
    <v-card-title class="mb-5">
      <div class="flex-grow-1"></div>
      <v-text-field
        v-model="search"
        append-icon="search"
        label="Search"
        single-line
        hide-details
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="items"
      :search="search"
      :items-per-page="10"
      class="elevation-1"
    >
      <template v-slot:item.messages="{ item }">
        <v-chip color="primary">
          {{ item.messages }}
        </v-chip>
      </template>

      <template v-slot:item.date="{ item }">
        {{ item.date.format("MM/DD/YYYY") }}
      </template>

      <template v-slot:item.priority="{ item }">
        <v-chip :color="priorityColor(item.priority)" class="white--text d-flex justify-center">
          {{ priorityMessage(item.priority) }}
        </v-chip>
      </template>

      <template v-slot:item.status="{ item }">
        <v-chip :color="statusColor(item.status)" class="white--text d-flex justify-center">
          {{ statusMessage(item.status) }}
        </v-chip>
      </template>

      <template v-slot:item.actions="{ item }">
        <v-btn
          color="teal accent-3 mr-2"
          small
          width="30px"
          min-width="30px"
          @click="
            $router.push({ name: 'supportShow', params: { id: item.id } })
          "
        >
          <v-icon color="white">edit</v-icon>
        </v-btn>
        <v-btn color="red darken-2" small width="30px" min-width="30px">
          <v-icon color="white">delete</v-icon>
        </v-btn>
      </template>

      <template v-slot:item.recently_activity="{ item }" class="test">
        <v-row>
          <v-col cols="4">
            <div class="green--text text--darken-2 caption">
              {{ activityAuthor(item) }}
            </div>
            <div class="green--text text--darken-2 caption">
              {{ activityDate(item) }}
            </div>
          </v-col>
          <v-col cols="8" class="caption">
            {{ activityMessage(item) }}
          </v-col>
        </v-row>
      </template>
    </v-data-table>
  </div>
</template>

<script>
import src from "./../../../stub/support";
import Priority from "../../utils/Priority";
import Status from "../../utils/Status";

export default {
  name: "List",
  data: () => ({
    items: src,
    search: ""
  }),
  computed: {
    headers: () => [
      {
        text: "ID",
        value: "id",
        align: "start",
        sortable: true,
        class: "column_id"
      },
      { text: "Date", value: "date", align: "start", sortable: true },
      {
        text: "Created By",
        value: "created_by",
        align: "start",
        sortable: true
      },
      {
        text: "Assigned To",
        value: "assigned_to",
        align: "start",
        sortable: true
      },
      { text: "Priority", value: "priority", align: "start", sortable: true },
      { text: "Status", value: "status", align: "start", sortable: true },
      { text: "Subject", value: "subject", align: "start", sortable: true },
      {
        text: "Messages",
        value: "messages",
        align: "center",
        sortable: true,
        class: "column_messages"
      },
      {
        text: "Most Recent Activity",
        value: "recently_activity",
        align: "start",
        class: "column_recently-activity",
        sortable: false
      },
      {
        text: "Actions",
        value: "actions",
        align: "start",
        sortable: false,
        class: "column_actions"
      }
    ]
  },
  methods: {
    priorityColor: priority => Priority.makeColor(priority),
    priorityMessage: priority => Priority.makeTitle(priority),
    statusColor: status => Status.makeColor(status),
    statusMessage: status => Status.makeTitle(status),
    activityAuthor: item =>
      item.recently_activity.length ? item.recently_activity[0].name : "",
    activityDate: item =>
      item.recently_activity.length ? item.recently_activity[0].date.format("D/M/YY hh:ss A") : "",
    activityMessage: item =>
      item.recently_activity.length ? item.recently_activity[0].message : ""
  }
};
</script>

<style>
.column_id {
  width: 100px;
}

.column_recently-activity {
  max-width: 400px;
  width: 400px;
}

.column_actions {
  width: 100px;
}

.column_messages {
  width: 110px;
}
</style>
