<template>
  <v-row>
    <v-col cols="4">
      <info-panel :data="info"></info-panel>
    </v-col>
    <v-col cols="6" offset-sm="1">
      <div class="editor-wrapper mb-5">
        <VueTrix
          v-model="editorContent"
          placeholder="Enter content"
          localStorage
          class="editor mb-5"
        />
        <div class="btn-wrapper text-sm-right">
          <v-btn color="green white--text">Send message</v-btn>
        </div>
      </div>
      <comments :items="item.recently_activity"></comments>
    </v-col>
  </v-row>
</template>

<script>
import data from "./../../../stub/support";
import InfoPanel from "../../components/support/InfoPanel";
import Comments from "../../components/support/Comments";
import VueTrix from "vue-trix";

export default {
  name: "Show",
  components: { InfoPanel, Comments, VueTrix },
  data: () => ({
    item: null,
    info: {},
    editorContent: ""
  }),
  created() {
    this.item = data.find(item => item.id === this.$route.params.id);
    this.fillInfo();
  },
  computed: {},
  methods: {
    fillInfo() {
      this.info = {
        id: this.item.id,
        date: this.item.date,
        created_by: this.item.created_by,
        assigned_to: this.item.assigned_to,
        priority: this.item.priority,
        status: this.item.status,
        subject: this.item.subject,
        description: this.item.description,
        attachments: this.item.attachments
      };
    }
  }
};
</script>

<style>
.editor {
  height: 300px;
}

.editor .trix-content {
  height: 250px;
}
</style>
