<template>
  <div>
    hello! This is dashboard page. It is not completed yet. You can check
    Support page. Other pages is under construction
  </div>
</template>
<script>
export default {
  name: "Dashboard"
};
</script>
