<template>
  <v-slide-x-transition>
    <v-navigation-drawer
      v-model="drawer"
      :mini-variant="mini"
      app
      clipped
      class="grey lighten-2"
      :fixed="true"
    >
      <v-img
        src="http://www.pngpix.com/wp-content/uploads/2016/07/PNGPIX-COM-Southern-Company-Logo-PNG-Transparent.png"
        lazy-src="http://www.pngpix.com/wp-content/uploads/2016/07/PNGPIX-COM-Southern-Company-Logo-PNG-Transparent.png"
        aspect-ratio="1"
        class="grey lighten-2 mb-5"
        max-width="256"
        max-height="100"
        dark
      />
      <v-divider></v-divider>
      <v-list dense>
        <div
          v-for="(routes, category) in routes"
          :key="`${category}${Date.now()}`"
        >
          <v-subheader v-if="category !== 'empty'">{{ category }} </v-subheader>
          <v-list-item
            v-for="route in routes"
            :key="route.path"
            ripple
            link
            :inactive="$route.path === route.path"
            @click="$router.push(route.path)"
          >
            <v-list-item-action>
              <v-icon v-if="route.meta && route.meta.icon">
                {{ route.meta.icon }}
              </v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>
                {{ route.meta.title || route.name }}
              </v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </div>
      </v-list>
    </v-navigation-drawer>
  </v-slide-x-transition>
</template>

<script>
export default {
  name: "Sidebar",
  props: ["drawer", "mini", "routes"]
};
</script>

<style scoped></style>
