<template>
  <v-app-bar app clipped-left color="grey lighten-4" dark fixed class="app">
    <v-slide-x-transition>
      <v-app-bar-nav-icon
        v-if="authenticated"
        @click.stop="reverseDrawer"
        color="black"
      ></v-app-bar-nav-icon>
    </v-slide-x-transition>
    <!--    <v-toolbar-title>Admin Panel</v-toolbar-title>-->
    <v-spacer></v-spacer>
    <v-slide-x-reverse-transition>
      <v-menu
        v-if="userId"
        open-on-hover
        bottom
        offset-y
        v-model="show"
        class="user-menu"
      >
        <v-list dark dense>
          <v-list-item @click="edit">
            <v-list-item-title class="green--text subtitle-2"
              >Edit profile</v-list-item-title
            >
          </v-list-item>
          <v-list-item @click="logout">
            <v-list-item-title class="green--text subtitle-2"
              >Logout</v-list-item-title
            >
          </v-list-item>
        </v-list>
      </v-menu>
    </v-slide-x-reverse-transition>
  </v-app-bar>
</template>

<script>
export default {
  name: "Toolbar",
  props: ["authenticated", "drawer", "userId", "show"],
  data: () => ({
    user: {}
  }),
  methods: {
    logout() {
      this.$emit("close");
    },
    edit() {
      this.$emit("close");
    },
    reverseDrawer() {
      this.$emit("reverseDrawer");
    }
  }
};
</script>

<style scoped>
.app {
  z-index: 5;
}
</style>

<style>
[role="menu"].v-menu__content {
  width: 200px;
  position: fixed;
  right: 20px;
  left: auto !important;
  top: 35px !important;
}
</style>
