<template>
  <v-app>
    <main-header></main-header>

    <v-content>
      <v-container>
        <v-slide-x-transition mode="out-in">
          <router-view></router-view>
        </v-slide-x-transition>
      </v-container>
    </v-content>
  </v-app>
</template>

<script>
import MainHeader from "./layout/MainHeader";

export default {
  name: "App",
  components: {
    MainHeader
  }
};
</script>
