<template>
  <div>
    <sidebar :drawer="drawer" :routes="routes" :mini="miniVariant" />

    <div class="avatar-wrapper">
      <v-avatar class="elevation-1 user-avatar" @click="show = !show">
        <img v-if="user && user.avatar" :src="user.avatar" alt="user.name" />
        <v-icon v-else x-large="x-large" color="white" class="black"
          >person</v-icon
        >
      </v-avatar>
    </div>

    <toolbar
      :show="show"
      :drawer="drawer"
      :authenticated="authenticated"
      :user-id="userId"
      @reverseDrawer="drawer = !drawer"
      @close="show = false"
    />
  </div>

  <!--  </v-app-bar>-->
</template>

<script>
import { routes } from "./../router";
import Toolbar from "./../components/Toolbar";
import Sidebar from "../components/Sidebar";

export default {
  name: "MainHeader",
  components: { Toolbar, Sidebar },
  data: () => ({
    drawer: true,
    miniVariant: false,
    authenticated: true,
    userId: 1,
    show: false,
    user: {}
  }),
  created() {
    // debugger;
  },
  computed: {
    routes: () => {
      const routesByCategories = {};

      routes
        .filter(route => !route.meta || !route.meta.hideFromDrawer)
        .forEach(route => {
          const categoryName =
            (route && route.meta && route.meta.category) || "empty";

          if (!routesByCategories[categoryName]) {
            routesByCategories[categoryName] = [];
          }

          routesByCategories[categoryName].push(route);
        });

      return routesByCategories;
    }
  }
};
</script>

<style scoped>
.avatar-wrapper {
  position: fixed;
  right: 30px;
  z-index: 99;
  top: 5px;
  border-radius: 50%;
  border: 3px solid #66bb6a;
}
</style>
